{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
<div class="body" id="content">
  <div>
    <div>
      <h3>项目办学基本信息</h3>
      <b>项目名称</b>: 中国矿业大学与澳大利亚皇家墨尔本理工大学合作举办建筑环境与能源应用工程专业本科教育项目<br>
      <b>办学地址</b>: 江苏省徐州市泉山区大学路1号 <br>
      <b>中外合作办学者</b>:  <br>
      <b>中方</b>: 中国矿业大学 <br>
      <b>外方</b>: 澳大利亚皇家墨尔本理工大学（RMIT University） <br>
      <!-- <b>办学层次和类别</b>: 本科学历教育 <br> -->
      <!-- <b>专业设置</b>: 建筑环境与能源应用工程<br> -->
      <!-- <b>课程设置</b>: <a href="#">点击进入&gt;&gt;</a> <br> -->
      <!-- <b>招生规模</b>: 90人/年 <br> -->
      <!-- <b>收费项目</b>: 学费RMB 1.92万元<br> -->
      <b>基本情况信息</b>: <a href="pages/brief.html">点击进入&gt;&gt;</a><br>
      <b>中外合作办学评估信息网上公示</b>:
      <a href="http://www.cdgdc.edu.cn/pgsh/bx-index.action?xmbh=BX_2015_1&xxdm=10290&zsbh=MOE32AU2A20121228N">点击进入&gt;&gt;</a><br>
    </div>
    <br>
  </div>
</div>

{% endblock content %}
